{% extends 'base.html' %}

{% block title %}Kayıtlı Notlar{% endblock %}

{% block content %}
    <h1>Kayıtlı Notlar</h1>
    <ul>
        {% for not in notlar %}
            <li>
                <strong>{{ not.title }}</strong> - {{ not.content }}
                {% if not.file %}
                    <a href="{{ not.file.url }}" target="_blank">İndir</a>
                {% else %}
                    <span>Dosya yok</span>
                {% endif %}
                
                <!-- Düzenle ve Sil Bağlantıları -->
                <a href="{% url 'update_note' not.pk %}">Düzenle</a>
                <a href="{% url 'delete_note' not.pk %}">Sil</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'not_ekle' %}" class="btn btn-primary mt-3">Yeni Not Ekle</a>
{% endblock %}
