{% extends "base.html" %}
{% load static %}
{% block title %}
    Kayıtlı Notlar
{% endblock title %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4" style="color: #1f5692;">Kayıtlı Notlar</h1>
        <!-- Notlar Tablosu -->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Başlık</th>
                    <th scope="col">İçerik</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Ders Kategorisi</th>
                    <th scope="col">Paylaşım</th>
                    <th scope="col">Dosya</th>
                    <th scope="col">İşlemler</th>
                    <!-- Ders kategorisi sütunu ekleniyor -->
                </tr>
            </thead>
            <tbody>
                {% for not in notlar %}
                    <tr>
                        <td>{{ not.title|truncatechars:20 }}</td>
                        <td>{{ not.content|truncatechars:50 }}</td>
                        <td>{{ not.get_kategori_display|truncatechars:50 }}</td>
                        {% if not.kategori == "ders" %}
                            <td>{{ not.get_ders_kategori_display|truncatechars:50 }}</td>
                            <!-- Ders kategorisi bilgisi gösteriliyor -->
                        {% else %}
                            <td>Ders Seçilmedi</td>
                        {% endif %}
                        <td>
                            {% if not.is_shared %}
                                +
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if not.file %}
                                <a href="{{ not.file.url }}" target="_blank" class="btn btn-info btn-sm">İndir</a>
                            {% else %}
                                <span class="text-muted">Dosya yok</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'update_note' not.pk %}" class="btn btn-warning btn-sm">Düzenle</a>
                            <a href="{% url 'delete_note' not.pk %}" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Yeni Not Ekle Butonu -->
        <div class="text-center mt-4">
            <a href="{% url 'not_ekle' %}" class="btn btn-primary">Yeni Not Ekle</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{% static 'images/kayitlinotlar.png' %}"
             width="auto"
             height="auto"
             alt="Not Resmi"
             class="img-fluid rounded">
    </div>
{% endblock content %}
