<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sayfanızın kısa açıklaması.">
        <meta name="keywords"
              content="anahtar kelime 1, anahtar kelime 2, anahtar kelime 3, anahtar kelime 4">
        <title>Sayfa Başlığı</title>
    </head>
<body>
    <h1>Notlarım</h1>
    <ul>
        {% for note in notes %}
            <li>
                <strong>{{ note.title }}</strong>: {{ note.content }}
                <a href="{% url 'update_note' note.pk %}">Düzenle</a>
                <a href="{% url 'delete_note' note.pk %}">Sil</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'not_ekle' %}" >Yeni Not Ekle</a>
</body>
</html>
