{% load static %}
<div class="container my-5" style="color:#1f5692">
    <div class="row text-center">
        <!-- Card 1 -->
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card h-100 rounded-4">
                <img src="{% static 'images/notlar.png' %}"
                     class="mt-3 d-block mx-auto"
                     width="auto"
                     height="auto"
                     style="max-height: 150px;
                            width: auto"
                     alt="Resim 1">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold mt-4">Yeni Bir Not Ekleyin</h5>
                    <p class="card-text flex-grow-1">Fikirlerinizi kaybetmeden hızlıca not alın ve organize edin.</p>
                    <a href="{% url 'not_ekle' %}" class="btn btn-primary mt-3 fw-bold">Not Ekle</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card h-100 rounded-4">
                <img src="{% static 'images/notekle.png' %}"
                     class="mt-3 d-block mx-auto"
                     width="auto"
                     height="auto"
                     style="max-height: 150px;
                            width: auto"
                     alt="Resim 2">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold mt-4">Tüm Notlarınızı Görüntüleyin</h5>
                    <p class="card-text flex-grow-1">Daha önce eklediğiniz tüm notlara hızlı ve kolay bir şekilde ulaşın.</p>
                    <a href="{% url 'notlar' %}" class="btn btn-warning mt-3 fw-bold">Notları Gör</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card h-100 rounded-4">
                <img src="{% static 'images/profilgor.png' %}"
                     class="mt-3 d-block mx-auto"
                     width="auto"
                     height="auto"
                     style="max-height: 150px;
                            width: auto"
                     alt="Resim 3">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold mt-4">Profilinizi Yönetin</h5>
                    <p class="card-text flex-grow-1">Kişisel bilgilerinizi güncelleyin ve uygulamayı size özel hale getirin.</p>
                    <a href="{% url 'profile' %}" class="btn btn-primary mt-3 fw-bold">Profilim</a>
                </div>
            </div>
        </div>
    </div>
</div>
