<div class="container mt-5">
    <h2 class="text-center mb-5"
        style="color: #1f5692;
               font-size: 2.5rem;
               font-weight: bold">Kullanıcılarımız Ne Diyor?</h2>
    <div id="userReviewsCarousel"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Yorum 1 -->
            <div class="carousel-item active">
                <div class="text-center">
                    <p class="fw-light"
                       style="font-size: 1.2rem;
                              max-width: 800px;
                              margin: 0 auto">
                        "Bu uygulama sayesinde artık hiçbir fikrimi unutmuyorum. Gerçekten harika!"
                    </p>
                    <h5 class="mt-3" style="font-size: 1.4rem; color: #f66b1d;">- Ayşe Yılmaz</h5>
                </div>
            </div>
            <!-- Yorum 2 -->
            <div class="carousel-item">
                <div class="text-center">
                    <p class="fw-light"
                       style="font-size: 1.2rem;
                              max-width: 800px;
                              margin: 0 auto">"Notlarımı düzenlemek hiç bu kadar kolay olmamıştı. Çok teşekkürler!"</p>
                    <h5 class="mt-3" style="font-size: 1.4rem; color: #f66b1d;">- Mehmet Kaya</h5>
                </div>
            </div>
            <!-- Yorum 3 -->
            <div class="carousel-item">
                <div class="text-center">
                    <p class="fw-light"
                       style="font-size: 1.2rem;
                              max-width: 800px;
                              margin: 0 auto">
                        "Kendi profilimi kişiselleştirebilmek bana çok büyük kolaylık sağladı."
                    </p>
                    <h5 class="mt-3" style="font-size: 1.4rem; color: #f66b1d;">- Zeynep Demir</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#userReviewsCarousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#userReviewsCarousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
        </button>
    </div>
</div>
