{% load static %}
<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
        <img src="{% static 'mobile/images/new-note.png' %}"alt="Image 1" class="card-img">
    </div>

    <!-- Card 2 -->
    <div class="card">
        <img src="{% static 'mobile/images/message.png' %}" alt="Image 2" class="card-img">
    </div>

    <!-- Card 3 -->
    <div class="card">
        <a href="{% url 'profile' %}">

        <img src="{% static 'mobile/images/add-user.png' %}" alt="Image 3" class="card-img">
        </a>

    </div>
</div>
