{% load static %}
<div class="navbar">
  <nav class="navbar-container">
    <a href="#" class="navbar-item">
      <img
        src="{% static 'mobile/images/home-icon.png' %}"
        alt="Home"
      />
    </a>
  
    <a href="#" class="navbar-item">
      <img
        src="{% static 'mobile/images/shared-icon.png' %}"
        alt="Add"
      />
    </a>
    <a href="#" class="navbar-item">
      <img
        src="{% static 'mobile/images/search-icon.png' %}"
        alt="Notes"
      />
    </a>
    <a href="#" class="navbar-item">
      <img
        src="{% static 'mobile/images/note-icon.png' %}"
        alt="Profile"
      />
    </a>
    <a href="#" class="navbar-item">
      <img
        src="{% static 'mobile/images/profile-icon.png' %}"
        alt="Settings"
      />
    </a>
  </nav>
</div>
